<header class="site-header">
  <div class="header-inner">
    <a href="{{ '/' | relative_url }}" class="site-title">WJEC Product Design</a>
    <nav>
      <a href="{{ '/gcse-2026/' | relative_url }}" class="dt2026">D&amp;T 2026</a>
      <a href="{{ '/gcse/' | relative_url }}" class="gcse">GCSE (legacy)</a>
      <a href="{{ '/past-papers/' | relative_url }}" class="past-papers">Past Papers</a>
      <a href="{{ '/glossary/' | relative_url }}" class="glossary">Glossary</a>
    </nav>
  </div>
</header>
